.filter-wrap {
    color: #666;
    font-size: 14px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    z-index: 300;
    box-sizing: border-box;
}

.filter-wrap * {
    box-sizing: border-box;
}

.filter-wrap ul {
    margin: 0;
    padding: 0;
}

.filter-wrap ul, .filter-wrap li {
    list-style: none;
}

.filter-tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-flex-basis: 0%;
    flex-basis: 0%;
    background-color: #fff;
    color: #666;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-align: center;
    border-image: url(data:image/gif;base64,R0lGODlhBQAFAPABANra2v///yH5BAUHAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;
    -webkit-border-image: url(data:image/gif;base64,R0lGODlhBQAFAPABANra2v///yH5BAUHAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;
    border-width: 0 0 1px 0;
    border-style: solid;
    z-index: 301;
    position: relative;
}

.filter-tab div {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

.filter-tab span {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0 15px 0 4px;
    line-height: 45px;
    -webkit-box-orient: vertical;
}

.filter-tab.selected span{
    color: #d30775;
}

.filter-tab span:after {
    border: 5px solid transparent;
    border-top: 5px solid #666;
    width: 0;
    height: 0;
    top: 21px;
    right: -14px;
    position: absolute;
    content: ' ';
    transition: all 0.3s;
}

.filter-tab.filter-tab-radio span:after {
    border: 0;
}

.filter-tab.selected span:after {
    border-top-color: #d30775;
}

.filter-tab.on span:after {
    -webkit-transform: translateY(-50%) rotate(180deg);
     transform: translateY(-50%) rotate(180deg); 
}

.filter-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
}

html.filter-shown, body.filter-shown {
    overflow-y: hidden;
    height: 100%;
}

body.filter-shown .filter-mask {
    display: block;
}

.filter-panel {
    display: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    /* max-height: 0; */
    top: 45px;
    left: 0;
    width: 100%;
    background-color: #fff;
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
}

.filter-panel.on {
    /* max-height: 250px; */
}

.filter-panel ul {
    padding-left: 10px;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.filter-panel ul li {
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    border-image: url(data:image/gif;base64,R0lGODlhBQAFAPABANra2v///yH5BAUHAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;
    -webkit-border-image: url(data:image/gif;base64,R0lGODlhBQAFAPABANra2v///yH5BAUHAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;
    border-width: 0 0 1px 0;
    border-style: solid;
    position: relative;
    padding-right: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-panel ul li.selected {
    color: #d30775;
}

.filter-panel ul li.selected:after {
    content: "";
    width: 7px;
    height: 12px;
    border-bottom: 1px solid #d30775;
    border-right: 1px solid #d30775;
    position: absolute;
    right: 10px;
    top: 17px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.filter-panel.multi ul li:before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #aaa;
    border-radius: 2px;
    position: absolute;
    right: 8px;
    top: 14px;
}

.filter-panel.multi ul li.selected:before { 
    border-color: #d30775;
}

.filter-panel.multi ul li.selected:after { 
    right: 14px;
    top: 16px;
    width: 5px;
    height: 10px;
}

.filter-panel.complex li {
    padding-right: 0;
    height: auto;
}

.filter-panel.complex li:last-child {
    border-bottom: 0;
}

.filter-panel.complex li .filter-title {
    color: #333;
    font-size: 14px;
    margin: 0;
    font-weight: normal;
    padding-right: 10px;
}

.filter-panel.complex li .filter-title.more {
    padding-right: 40px;
}

.filter-panel.complex li .filter-title span {
    color: #666;
}

.filter-panel.complex li .filter-title i {
    color: #d30775;
    font-size: 12px;
    float: right;
    display: block;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    height: 45px;
    line-height: 45px;
    font-style: normal;
}

.filter-panel .filter-sub-ul {
    overflow: hidden;
    padding-left: 0;
    max-height: 40px; 
    margin-bottom: 16px;
    -webkit-transition: max-height .3s ease-out;
    transition: max-height .3s ease-out;
}

.filter-panel .filter-sub-ul li {
    width: 25%;
    float: left;
    font-size: 12px;
    border: 0;
    padding-right: 0;
    background: #fff;
    z-index: 2;
}

.filter-panel .filter-sub-ul li:nth-of-type(1) div,
.filter-panel .filter-sub-ul li:nth-of-type(2) div,
.filter-panel .filter-sub-ul li:nth-of-type(3) div,
.filter-panel .filter-sub-ul li:nth-of-type(4) div{
    margin-top: 0;
}

.filter-panel .filter-sub-ul li div {
    height: 36px;
    margin: 8px 10px 0 0;
    border: 1px solid #F4F4F4;
    border-radius: 3px;
    background: #F4F4F4;
}

.filter-panel .filter-sub-ul li div span {
    display: -webkit-box;
    max-height: 36px;
    line-height: 18px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.filter-panel .filter-sub-ul li.selected div {
    border-color: #d30775;
    background: #fff;
}

.filter-panel .filter-sub-ul li.selected:after {
    border: 0;
}

.filter-action {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.filter-action>div {
    height: 48px;
    width: 50%;
    float: left;
    text-align: center;
    letter-spacing: 2px;
}

.filter-action-txt {
    line-height: 47px;
}

.filter-reset {
    background: #fff;
    -webkit-border-image: url(data:image/gif;base64,R0lGODlhBQAFAPABANra2v///yH5BAUHAAEALAAAAAAFAAUAAAIHhB9pGatnCgA7) 2 stretch;
    border-width: 1px 0 1px 0;
    border-style: solid;
}

.filter-confirm {
    background: #d30775;
    color: #fff;
}

.filter-more {
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 10px;
    width: 40px;
    height: 45px;
    background: #fff;
}

.filter-more:after {
    content: "";
    border-top: 1px solid #777;
    border-right: 1px solid #777;
    -webkit-transform: translateY(50%) rotate(135deg);
    transform: translateY(50%) rotate(135deg);
    position: absolute;
    top: 10px;
    right: 15px;
    width: 9px;
    height: 9px;
    transition: all 0.3s;
}

.filter-more.opend:after {
    -webkit-transform: translateY(50%) rotate(-45deg);
    transform: translateY(50%) rotate(-45deg);
    top: 15px;
}

.filter-nodata {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-top: -10px;
}

.filter-panel .filter-sub-ul .filter-sec-wrap {
    width: 100%;
    margin-bottom: 2px;
    padding-right: 10px;
    margin-top: 10px;
    overflow: initial;
    z-index: 1;
    height: 0;
    display: none;
    transition: height .2s ease-out;
}

.filter-panel .filter-sub-ul .filter-sec-wrap .filter-triangle {
    border-style: solid;
    border-width: 0px 8px 7px 8px;
    border-color: transparent transparent #F4F4F4 transparent;
    position: absolute;
    top: -7px;
    left: 38px;
}

.filter-panel .filter-sub-ul .filter-sec-wrap .filter-sec-ul {
    width: 100%;
    background: #F4F4F4;
    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 8px;
}

.filter-panel .filter-sub-ul .filter-sec-wrap .filter-sec-li {
    background: transparent;
}

.filter-panel .filter-sub-ul .filter-sec-wrap li div {
    background: #fff;
    margin-right: 5px;
}
